::-webkit-scrollbar {
    width: 15px; 
    }
    
    ::-webkit-scrollbar-track {
    background: #2b2b2b; 
    }
    
    ::-webkit-scrollbar-thumb {
    background-color: #444444; 
    border-radius: 10px; 
    border: 3px solid #2b2b2b; 
    }
    input:disabled{
        cursor: not-allowed;
    }
    input{
        background-color: #444444;
        outline: none;
        border: 1px solid white;
        padding: 6px;
        border-radius: 25px;
        padding-left: 10px;
        color: white;
    }
    input::placeholder{
        color: white;
    }
    * {
    scrollbar-width: thin;
    scrollbar-color: #444444 #2b2b2b;
    }
    
    body{
    -ms-overflow-style: none;
        height: 100vh;
        overflow: hidden;
        background-color: #424545;
    }
    .container{
        width: 100%;
        height: 100%;
        overflow-y:scroll ;
    }
    .content>div, .head>div{
        border: 1px solid white;
    }
    .content{
        display: flex;
        gap:15px;
    }
    .head{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .card-header{
        border-bottom: white 1px solid;
    }
    header{
        height: 70px;
    }
    .addWindow{
        width: 100%;
        height: 100vh;
        background-color:#0000004b ;
        position: absolute;
        top: 0;
        align-items: center;
        justify-content: center;
        left: 0;
        display: none;
    }
    .box{
        position: relative;
        padding: 20px;
        background-color: #424545;
        width: 440px;
        height: fit-content;
        border-radius: 20px;
    }
    .box2{
        position: relative;
        padding: 20px;
        background-color: #424545;
        width: 440px;
        height: fit-content;
        border-radius: 20px;
    }
    label{
        color: white;
    }
    .x{
        position: absolute;
        right: 15px;
        color: white;
        top: 5px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .warn{
        color: red;
        visibility: hidden;
    }
    @keyframes brum{
        0%{
            right: -250px;
        }
        100%{
            right: 15px;
        }
    }
    .an {
        animation: brum 1s forwards;
    }
    @keyframes papa{
        0%{
            opacity: 1;
        }
        90% {
            opacity: 0;
            right: -250px;
        }
        10%{
            opacity: 1;
        }
    }
    .out{
        animation: papa 2s forwards;
    }
    .alert{
        position: absolute;
        top: 15px;
        right: -250px;
    }
